In [6]:
#pip install -r /Users/raianil/Desktop/ML_Projects/requirements.txt

Requirement already satisfied: sklearn==0.0 in /opt/anaconda3/envs/ml_env/lib/python3.8/site-packages (from -r /Users/raianil/Desktop/ML_Projects/requirements.txt (line 1)) (0.0)
Requirement already satisfied: pandas==1.4.2 in /opt/anaconda3/envs/ml_env/lib/python3.8/site-packages (from -r /Users/raianil/Desktop/ML_Projects/requirements.txt (line 2)) (1.4.2)
Requirement already satisfied: jupyter==1.0.0 in /opt/anaconda3/envs/ml_env/lib/python3.8/site-packages (from -r /Users/raianil/Desktop/ML_Projects/requirements.txt (line 3)) (1.0.0)
Requirement already satisfied: matplotlib==3.5.1 in /opt/anaconda3/envs/ml_env/lib/python3.8/site-packages (from -r /Users/raianil/Desktop/ML_Projects/requirements.txt (line 4)) (3.5.1)
Requirement already satisfied: seaborn==0.11.2 in /opt/anaconda3/envs/ml_env/lib/python3.8/site-packages (from -r /Users/raianil/Desktop/ML_Projects/requirements.txt (line 5)) (0.11.2)
Requirement already satisfied: numpy==1.22.3 in /opt/anaconda3/envs/ml_env/lib/python3.8/site-packages (from -r /Users/raianil/Desktop/ML_Projects/requirements.txt (line 6)) (1.22.3)
Requirement already satisfied: imbalanced-learn==0.9.0 in /opt/anaconda3/envs/ml_env/lib/python3.8/site-packages (from -r /Users/raianil/Desktop/ML_Projects/requirements.txt (line 7)) (0.9.0)
Requirement already satisfied: xgboost==1.6.0 in /opt/anaconda3/envs/ml_env/lib/python3.8/site-packages (from -r /Users/raianil/Desktop/ML_Projects/requirements.txt (line 8)) (1.6.0)
Requirement already satisfied: statsmodels==0.13.2 in /opt/anaconda3/envs/ml_env/lib/python3.8/site-packages (from -r /Users/raianil/Desktop/ML_Projects/requirements.txt (line 9)) (0.13.2)
Requirement already satisfied: graphviz==0.20 in /opt/anaconda3/envs/ml_env/lib/python3.8/site-packages (from -r /Users/raianil/Desktop/ML_Projects/requirements.txt (line 10)) (0.20)
Collecting xlrd==2.0.1
  Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
     |████████████████████████████████| 96 kB 622 kB/s eta 0:00:01
Requirement already satisfied: scikit-learn in /opt/anaconda3/envs/ml_env/lib/python3.8/site-packages (from sklearn==0.0->-r /Users/raianil/Desktop/ML_Projects/requirements.txt (line 1)) (1.0.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/anaconda3/envs/ml_env/lib/python3.8/site-packages (from pandas==1.4.2->-r /Users/raianil/Desktop/ML_Projects/requirements.txt (line 2)) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/envs/ml_env/lib/python3.8/site-packages (from pandas==1.4.2->-r /Users/raianil/Desktop/ML_Projects/requirements.txt (line 2)) (2022.1)
Requirement already satisfied: ipykernel in /opt/anaconda3/envs/ml_env/lib/python3.8/site-packages (from jupyter==1.0.0->-r /Users/raianil/Desktop/ML_Projects/requirements.txt (line 3)) (6.13.0)
Requirement already satisfied: qtconsole in /opt/anaconda3/envs/ml_env/lib/python3.8/site-packages (from jupyter==1.0.0->-r /Users/raianil/Desktop/ML_Projects/requirements.txt (line 3)) (5.3.0)
Requirement already satisfied: notebook in /opt/anaconda3/envs/ml_env/lib/python3.8/site-packages (from jupyter==1.0.0->-r /Users/raianil/Desktop/ML_Projects/requirements.txt (line 3)) (6.4.11)
Requirement already satisfied: nbconvert in /opt/anaconda3/envs/ml_env/lib/python3.8/site-packages (from jupyter==1.0.0->-r /Users/raianil/Desktop/ML_Projects/requirements.txt (line 3)) (6.5.0)
Requirement already satisfied: ipywidgets in /opt/anaconda3/envs/ml_env/lib/python3.8/site-packages (from jupyter==1.0.0->-r /Users/raianil/Desktop/ML_Projects/requirements.txt (line 3)) (7.7.0)
Requirement already satisfied: jupyter-console in /opt/anaconda3/envs/ml_env/lib/python3.8/site-packages (from jupyter==1.0.0->-r /Users/raianil/Desktop/ML_Projects/requirements.txt (line 3)) (6.4.3)
Requirement already satisfied: pillow>=6.2.0 in /opt/anaconda3/envs/ml_env/lib/python3.8/site-packages (from matplotlib==3.5.1->-r /Users/raianil/Desktop/ML_Projects/requirements.txt (line 4)) (9.1.0)
Requirement already satisfied: packaging>=20.0 in /opt/anaconda3/envs/ml_env/lib/python3.8/site-packages (from matplotlib==3.5.1->-r /Users/raianil/Desktop/ML_Projects/requirements.txt (line 4)) (21.3)
Requirement already satisfied: fonttools>=4.22.0 in /opt/anaconda3/envs/ml_env/lib/python3.8/site-packages (from matplotlib==3.5.1->-r /Users/raianil/Desktop/ML_Projects/requirements.txt (line 4)) (4.33.2)
Requirement already satisfied: cycler>=0.10 in /opt/anaconda3/envs/ml_env/lib/python3.8/site-packages (from matplotlib==3.5.1->-r /Users/raianil/Desktop/ML_Projects/requirements.txt (line 4)) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /opt/anaconda3/envs/ml_env/lib/python3.8/site-packages (from matplotlib==3.5.1->-r /Users/raianil/Desktop/ML_Projects/requirements.txt (line 4)) (1.4.2)
Requirement already satisfied: pyparsing>=2.2.1 in /opt/anaconda3/envs/ml_env/lib/python3.8/site-packages (from matplotlib==3.5.1->-r /Users/raianil/Desktop/ML_Projects/requirements.txt (line 4)) (3.0.8)
Requirement already satisfied: scipy>=1.0 in /opt/anaconda3/envs/ml_env/lib/python3.8/site-packages (from seaborn==0.11.2->-r /Users/raianil/Desktop/ML_Projects/requirements.txt (line 5)) (1.8.0)
Requirement already satisfied: joblib>=0.11 in /opt/anaconda3/envs/ml_env/lib/python3.8/site-packages (from imbalanced-learn==0.9.0->-r /Users/raianil/Desktop/ML_Projects/requirements.txt (line 7)) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /opt/anaconda3/envs/ml_env/lib/python3.8/site-packages (from imbalanced-learn==0.9.0->-r /Users/raianil/Desktop/ML_Projects/requirements.txt (line 7)) (3.1.0)
Requirement already satisfied: patsy>=0.5.2 in /opt/anaconda3/envs/ml_env/lib/python3.8/site-packages (from statsmodels==0.13.2->-r /Users/raianil/Desktop/ML_Projects/requirements.txt (line 9)) (0.5.2)
Requirement already satisfied: six in /opt/anaconda3/envs/ml_env/lib/python3.8/site-packages (from patsy>=0.5.2->statsmodels==0.13.2->-r /Users/raianil/Desktop/ML_Projects/requirements.txt (line 9)) (1.16.0)
Requirement already satisfied: jupyter-client>=6.1.12 in /opt/anaconda3/envs/ml_env/lib/python3.8/site-packages (from ipykernel->jupyter==1.0.0->-r /Users/raianil/Desktop/ML_Projects/requirements.txt (line 3)) (7.2.2)
Requirement already satisfied: ipython>=7.23.1 in /opt/anaconda3/envs/ml_env/lib/python3.8/site-packages (from ipykernel->jupyter==1.0.0->-r /Users/raianil/Desktop/ML_Projects/requirements.txt (line 3)) (8.2.0)
Requirement already satisfied: appnope in /opt/anaconda3/envs/ml_env/lib/python3.8/site-packages (from ipykernel->jupyter==1.0.0->-r /Users/raianil/Desktop/ML_Projects/requirements.txt (line 3)) (0.1.3)
Requirement already satisfied: matplotlib-inline>=0.1 in /opt/anaconda3/envs/ml_env/lib/python3.8/site-packages (from ipykernel->jupyter==1.0.0->-r /Users/raianil/Desktop/ML_Projects/requirements.txt (line 3)) (0.1.3)
Requirement already satisfied: psutil in /opt/anaconda3/envs/ml_env/lib/python3.8/site-packages (from ipykernel->jupyter==1.0.0->-r /Users/raianil/Desktop/ML_Projects/requirements.txt (line 3)) (5.9.0)
Requirement already satisfied: traitlets>=5.1.0 in /opt/anaconda3/envs/ml_env/lib/python3.8/site-packages (from ipykernel->jupyter==1.0.0->-r /Users/raianil/Desktop/ML_Projects/requirements.txt (line 3)) (5.1.1)
Requirement already satisfied: tornado>=6.1 in /opt/anaconda3/envs/ml_env/lib/python3.8/site-packages (from ipykernel->jupyter==1.0.0->-r /Users/raianil/Desktop/ML_Projects/requirements.txt (line 3)) (6.1)
Requirement already satisfied: nest-asyncio in /opt/anaconda3/envs/ml_env/lib/python3.8/site-packages (from ipykernel->jupyter==1.0.0->-r /Users/raianil/Desktop/ML_Projects/requirements.txt (line 3)) (1.5.5)
Requirement already satisfied: debugpy>=1.0 in /opt/anaconda3/envs/ml_env/lib/python3.8/site-packages (from ipykernel->jupyter==1.0.0->-r /Users/raianil/Desktop/ML_Projects/requirements.txt (line 3)) (1.6.0)
Requirement already satisfied: decorator in /opt/anaconda3/envs/ml_env/lib/python3.8/site-packages (from ipython>=7.23.1->ipykernel->jupyter==1.0.0->-r /Users/raianil/Desktop/ML_Projects/requirements.txt (line 3)) (5.1.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /opt/anaconda3/envs/ml_env/lib/python3.8/site-packages (from ipython>=7.23.1->ipykernel->jupyter==1.0.0->-r /Users/raianil/Desktop/ML_Projects/requirements.txt (line 3)) (3.0.29)
Requirement already satisfied: pygments>=2.4.0 in /opt/anaconda3/envs/ml_env/lib/python3.8/site-packages (from ipython>=7.23.1->ipykernel->jupyter==1.0.0->-r /Users/raianil/Desktop/ML_Projects/requirements.txt (line 3)) (2.11.2)
Requirement already satisfied: pexpect>4.3 in /opt/anaconda3/envs/ml_env/lib/python3.8/site-packages (from ipython>=7.23.1->ipykernel->jupyter==1.0.0->-r /Users/raianil/Desktop/ML_Projects/requirements.txt (line 3)) (4.8.0)
Requirement already satisfied: pickleshare in /opt/anaconda3/envs/ml_env/lib/python3.8/site-packages (from ipython>=7.23.1->ipykernel->jupyter==1.0.0->-r /Users/raianil/Desktop/ML_Projects/requirements.txt (line 3)) (0.7.5)
Requirement already satisfied: setuptools>=18.5 in /opt/anaconda3/envs/ml_env/lib/python3.8/site-packages (from ipython>=7.23.1->ipykernel->jupyter==1.0.0->-r /Users/raianil/Desktop/ML_Projects/requirements.txt (line 3)) (61.2.0)
Requirement already satisfied: stack-data in /opt/anaconda3/envs/ml_env/lib/python3.8/site-packages (from ipython>=7.23.1->ipykernel->jupyter==1.0.0->-r /Users/raianil/Desktop/ML_Projects/requirements.txt (line 3)) (0.2.0)
Requirement already satisfied: jedi>=0.16 in /opt/anaconda3/envs/ml_env/lib/python3.8/site-packages (from ipython>=7.23.1->ipykernel->jupyter==1.0.0->-r /Users/raianil/Desktop/ML_Projects/requirements.txt (line 3)) (0.18.1)
Requirement already satisfied: backcall in /opt/anaconda3/envs/ml_env/lib/python3.8/site-packages (from ipython>=7.23.1->ipykernel->jupyter==1.0.0->-r /Users/raianil/Desktop/ML_Projects/requirements.txt (line 3)) (0.2.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /opt/anaconda3/envs/ml_env/lib/python3.8/site-packages (from jedi>=0.16->ipython>=7.23.1->ipykernel->jupyter==1.0.0->-r /Users/raianil/Desktop/ML_Projects/requirements.txt (line 3)) (0.8.3)
Requirement already satisfied: pyzmq>=22.3 in /opt/anaconda3/envs/ml_env/lib/python3.8/site-packages (from jupyter-client>=6.1.12->ipykernel->jupyter==1.0.0->-r /Users/raianil/Desktop/ML_Projects/requirements.txt (line 3)) (22.3.0)
Requirement already satisfied: entrypoints in /opt/anaconda3/envs/ml_env/lib/python3.8/site-packages (from jupyter-client>=6.1.12->ipykernel->jupyter==1.0.0->-r /Users/raianil/Desktop/ML_Projects/requirements.txt (line 3)) (0.4)
Requirement already satisfied: jupyter-core>=4.9.2 in /opt/anaconda3/envs/ml_env/lib/python3.8/site-packages (from jupyter-client>=6.1.12->ipykernel->jupyter==1.0.0->-r /Users/raianil/Desktop/ML_Projects/requirements.txt (line 3)) (4.10.0)

Requirement already satisfied: ptyprocess>=0.5 in /opt/anaconda3/envs/ml_env/lib/python3.8/site-packages (from pexpect>4.3->ipython>=7.23.1->ipykernel->jupyter==1.0.0->-r /Users/raianil/Desktop/ML_Projects/requirements.txt (line 3)) (0.7.0)
Requirement already satisfied: wcwidth in /opt/anaconda3/envs/ml_env/lib/python3.8/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=7.23.1->ipykernel->jupyter==1.0.0->-r /Users/raianil/Desktop/ML_Projects/requirements.txt (line 3)) (0.2.5)
Requirement already satisfied: nbformat>=4.2.0 in /opt/anaconda3/envs/ml_env/lib/python3.8/site-packages (from ipywidgets->jupyter==1.0.0->-r /Users/raianil/Desktop/ML_Projects/requirements.txt (line 3)) (5.3.0)
Requirement already satisfied: jupyterlab-widgets>=1.0.0 in /opt/anaconda3/envs/ml_env/lib/python3.8/site-packages (from ipywidgets->jupyter==1.0.0->-r /Users/raianil/Desktop/ML_Projects/requirements.txt (line 3)) (1.1.0)
Requirement already satisfied: widgetsnbextension~=3.6.0 in /opt/anaconda3/envs/ml_env/lib/python3.8/site-packages (from ipywidgets->jupyter==1.0.0->-r /Users/raianil/Desktop/ML_Projects/requirements.txt (line 3)) (3.6.0)
Requirement already satisfied: ipython-genutils~=0.2.0 in /opt/anaconda3/envs/ml_env/lib/python3.8/site-packages (from ipywidgets->jupyter==1.0.0->-r /Users/raianil/Desktop/ML_Projects/requirements.txt (line 3)) (0.2.0)
Requirement already satisfied: jsonschema>=2.6 in /opt/anaconda3/envs/ml_env/lib/python3.8/site-packages (from nbformat>=4.2.0->ipywidgets->jupyter==1.0.0->-r /Users/raianil/Desktop/ML_Projects/requirements.txt (line 3)) (4.4.0)
Requirement already satisfied: fastjsonschema in /opt/anaconda3/envs/ml_env/lib/python3.8/site-packages (from nbformat>=4.2.0->ipywidgets->jupyter==1.0.0->-r /Users/raianil/Desktop/ML_Projects/requirements.txt (line 3)) (2.15.3)
Requirement already satisfied: importlib-resources>=1.4.0 in /opt/anaconda3/envs/ml_env/lib/python3.8/site-packages (from jsonschema>=2.6->nbformat>=4.2.0->ipywidgets->jupyter==1.0.0->-r /Users/raianil/Desktop/ML_Projects/requirements.txt (line 3)) (5.7.1)
Requirement already satisfied: attrs>=17.4.0 in /opt/anaconda3/envs/ml_env/lib/python3.8/site-packages (from jsonschema>=2.6->nbformat>=4.2.0->ipywidgets->jupyter==1.0.0->-r /Users/raianil/Desktop/ML_Projects/requirements.txt (line 3)) (21.4.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /opt/anaconda3/envs/ml_env/lib/python3.8/site-packages (from jsonschema>=2.6->nbformat>=4.2.0->ipywidgets->jupyter==1.0.0->-r /Users/raianil/Desktop/ML_Projects/requirements.txt (line 3)) (0.18.1)
Requirement already satisfied: zipp>=3.1.0 in /opt/anaconda3/envs/ml_env/lib/python3.8/site-packages (from importlib-resources>=1.4.0->jsonschema>=2.6->nbformat>=4.2.0->ipywidgets->jupyter==1.0.0->-r /Users/raianil/Desktop/ML_Projects/requirements.txt (line 3)) (3.8.0)
Requirement already satisfied: Send2Trash>=1.8.0 in /opt/anaconda3/envs/ml_env/lib/python3.8/site-packages (from notebook->jupyter==1.0.0->-r /Users/raianil/Desktop/ML_Projects/requirements.txt (line 3)) (1.8.0)
Requirement already satisfied: argon2-cffi in /opt/anaconda3/envs/ml_env/lib/python3.8/site-packages (from notebook->jupyter==1.0.0->-r /Users/raianil/Desktop/ML_Projects/requirements.txt (line 3)) (21.3.0)
Requirement already satisfied: prometheus-client in /opt/anaconda3/envs/ml_env/lib/python3.8/site-packages (from notebook->jupyter==1.0.0->-r /Users/raianil/Desktop/ML_Projects/requirements.txt (line 3)) (0.14.1)
Requirement already satisfied: jinja2 in /opt/anaconda3/envs/ml_env/lib/python3.8/site-packages (from notebook->jupyter==1.0.0->-r /Users/raianil/Desktop/ML_Projects/requirements.txt (line 3)) (3.1.1)
Requirement already satisfied: terminado>=0.8.3 in /opt/anaconda3/envs/ml_env/lib/python3.8/site-packages (from notebook->jupyter==1.0.0->-r /Users/raianil/Desktop/ML_Projects/requirements.txt (line 3)) (0.13.3)
Requirement already satisfied: beautifulsoup4 in /opt/anaconda3/envs/ml_env/lib/python3.8/site-packages (from nbconvert->jupyter==1.0.0->-r /Users/raianil/Desktop/ML_Projects/requirements.txt (line 3)) (4.11.1)
Requirement already satisfied: tinycss2 in /opt/anaconda3/envs/ml_env/lib/python3.8/site-packages (from nbconvert->jupyter==1.0.0->-r /Users/raianil/Desktop/ML_Projects/requirements.txt (line 3)) (1.1.1)
Requirement already satisfied: bleach in /opt/anaconda3/envs/ml_env/lib/python3.8/site-packages (from nbconvert->jupyter==1.0.0->-r /Users/raianil/Desktop/ML_Projects/requirements.txt (line 3)) (5.0.0)
Requirement already satisfied: nbclient>=0.5.0 in /opt/anaconda3/envs/ml_env/lib/python3.8/site-packages (from nbconvert->jupyter==1.0.0->-r /Users/raianil/Desktop/ML_Projects/requirements.txt (line 3)) (0.6.0)
Requirement already satisfied: pandocfilters>=1.4.1 in /opt/anaconda3/envs/ml_env/lib/python3.8/site-packages (from nbconvert->jupyter==1.0.0->-r /Users/raianil/Desktop/ML_Projects/requirements.txt (line 3)) (1.5.0)
Requirement already satisfied: jupyterlab-pygments in /opt/anaconda3/envs/ml_env/lib/python3.8/site-packages (from nbconvert->jupyter==1.0.0->-r /Users/raianil/Desktop/ML_Projects/requirements.txt (line 3)) (0.2.2)
Requirement already satisfied: MarkupSafe>=2.0 in /opt/anaconda3/envs/ml_env/lib/python3.8/site-packages (from nbconvert->jupyter==1.0.0->-r /Users/raianil/Desktop/ML_Projects/requirements.txt (line 3)) (2.1.1)
Requirement already satisfied: mistune<2,>=0.8.1 in /opt/anaconda3/envs/ml_env/lib/python3.8/site-packages (from nbconvert->jupyter==1.0.0->-r /Users/raianil/Desktop/ML_Projects/requirements.txt (line 3)) (0.8.4)
Requirement already satisfied: defusedxml in /opt/anaconda3/envs/ml_env/lib/python3.8/site-packages (from nbconvert->jupyter==1.0.0->-r /Users/raianil/Desktop/ML_Projects/requirements.txt (line 3)) (0.7.1)
Requirement already satisfied: argon2-cffi-bindings in /opt/anaconda3/envs/ml_env/lib/python3.8/site-packages (from argon2-cffi->notebook->jupyter==1.0.0->-r /Users/raianil/Desktop/ML_Projects/requirements.txt (line 3)) (21.2.0)
Requirement already satisfied: cffi>=1.0.1 in /opt/anaconda3/envs/ml_env/lib/python3.8/site-packages (from argon2-cffi-bindings->argon2-cffi->notebook->jupyter==1.0.0->-r /Users/raianil/Desktop/ML_Projects/requirements.txt (line 3)) (1.15.0)
Requirement already satisfied: pycparser in /opt/anaconda3/envs/ml_env/lib/python3.8/site-packages (from cffi>=1.0.1->argon2-cffi-bindings->argon2-cffi->notebook->jupyter==1.0.0->-r /Users/raianil/Desktop/ML_Projects/requirements.txt (line 3)) (2.21)
Requirement already satisfied: soupsieve>1.2 in /opt/anaconda3/envs/ml_env/lib/python3.8/site-packages (from beautifulsoup4->nbconvert->jupyter==1.0.0->-r /Users/raianil/Desktop/ML_Projects/requirements.txt (line 3)) (2.3.2.post1)
Requirement already satisfied: webencodings in /opt/anaconda3/envs/ml_env/lib/python3.8/site-packages (from bleach->nbconvert->jupyter==1.0.0->-r /Users/raianil/Desktop/ML_Projects/requirements.txt (line 3)) (0.5.1)
Requirement already satisfied: qtpy>=2.0.1 in /opt/anaconda3/envs/ml_env/lib/python3.8/site-packages (from qtconsole->jupyter==1.0.0->-r /Users/raianil/Desktop/ML_Projects/requirements.txt (line 3)) (2.0.1)
Requirement already satisfied: executing in /opt/anaconda3/envs/ml_env/lib/python3.8/site-packages (from stack-data->ipython>=7.23.1->ipykernel->jupyter==1.0.0->-r /Users/raianil/Desktop/ML_Projects/requirements.txt (line 3)) (0.8.3)
Requirement already satisfied: asttokens in /opt/anaconda3/envs/ml_env/lib/python3.8/site-packages (from stack-data->ipython>=7.23.1->ipykernel->jupyter==1.0.0->-r /Users/raianil/Desktop/ML_Projects/requirements.txt (line 3)) (2.0.5)
Requirement already satisfied: pure-eval in /opt/anaconda3/envs/ml_env/lib/python3.8/site-packages (from stack-data->ipython>=7.23.1->ipykernel->jupyter==1.0.0->-r /Users/raianil/Desktop/ML_Projects/requirements.txt (line 3)) (0.2.2)
Installing collected packages: xlrd
Successfully installed xlrd-2.0.1
Note: you may need to restart the kernel to use updated packages.

In [9]:
import pandas as pd

pd.set_option("display.max_columns", None)

In [10]:
default_credit_df = pd.read_excel("default_of_credit_card_clients__courseware_version_1_21_19.xls",
                                )

In [11]:
default_credit_df.head(5)

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_1,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,798fc410-45c1,20000,2,2,1,24,2,2,-1,-1,-2,-2,3913,3102,689,0,0,0,0,689,0,0,0,0,1
1,8a8c8f3b-8eb4,120000,2,2,2,26,-1,2,0,0,0,2,2682,1725,2682,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,85698822-43f5,90000,2,2,2,34,0,0,0,0,0,0,29239,14027,13559,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,0737c11b-be42,50000,2,2,1,37,0,0,0,0,0,0,46990,48233,49291,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,3b7f77cc-dbc0,50000,1,2,1,57,-1,0,-1,0,0,0,8617,5670,35835,20940,19146,19131,2000,36681,10000,9000,689,679,0

In [15]:
columns = list(default_credit_df.columns)
columns

['ID',
 'LIMIT_BAL',
 'SEX',
 'EDUCATION',
 'MARRIAGE',
 'AGE',
 'PAY_1',
 'PAY_2',
 'PAY_3',
 'PAY_4',
 'PAY_5',
 'PAY_6',
 'BILL_AMT1',
 'BILL_AMT2',
 'BILL_AMT3',
 'BILL_AMT4',
 'BILL_AMT5',
 'BILL_AMT6',
 'PAY_AMT1',
 'PAY_AMT2',
 'PAY_AMT3',
 'PAY_AMT4',
 'PAY_AMT5',
 'PAY_AMT6',
 'default payment next month']

In [27]:
# Checking if any columns have a null values
default_credit_df.isnull().sum()

ID                            0
LIMIT_BAL                     0
SEX                           0
EDUCATION                     0
MARRIAGE                      0
AGE                           0
PAY_1                         0
PAY_2                         0
PAY_3                         0
PAY_4                         0
PAY_5                         0
PAY_6                         0
BILL_AMT1                     0
BILL_AMT2                     0
BILL_AMT3                     0
BILL_AMT4                     0
BILL_AMT5                     0
BILL_AMT6                     0
PAY_AMT1                      0
PAY_AMT2                      0
PAY_AMT3                      0
PAY_AMT4                      0
PAY_AMT5                      0
PAY_AMT6                      0
default payment next month    0
dtype: int64

In [28]:
default_credit_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 25 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   ID                          30000 non-null  object
 1   LIMIT_BAL                   30000 non-null  int64
 2   SEX                         30000 non-null  int64
 3   EDUCATION                   30000 non-null  int64
 4   MARRIAGE                    30000 non-null  int64
 5   AGE                         30000 non-null  int64
 6   PAY_1                       30000 non-null  object
 7   PAY_2                       30000 non-null  int64
 8   PAY_3                       30000 non-null  int64
 9   PAY_4                       30000 non-null  int64
 10  PAY_5                       30000 non-null  int64
 11  PAY_6                       30000 non-null  int64
 12  BILL_AMT1                   30000 non-null  int64
 13  BILL_AMT2                   30000 non-null  int64
 14  BILL_AMT3                   30000 non-null  int64
 15  BILL_AMT4                   30000 non-null  int64
 16  BILL_AMT5                   30000 non-null  int64
 17  BILL_AMT6                   30000 non-null  int64
 18  PAY_AMT1                    30000 non-null  int64
 19  PAY_AMT2                    30000 non-null  int64
 20  PAY_AMT3                    30000 non-null  int64
 21  PAY_AMT4                    30000 non-null  int64
 22  PAY_AMT5                    30000 non-null  int64
 23  PAY_AMT6                    30000 non-null  int64
 24  default payment next month  30000 non-null  int64
dtypes: int64(23), object(2)
memory usage: 5.7+ MB

In [30]:
# It seems tyhat pay_1 is of an object type but it has got numeric values in it
default_credit_df.PAY_1.unique()

array([2, -1, 0, -2, 1, 'Not available', 3, 4, 8, 7, 5, 6], dtype=object)

In [35]:
# drop the rows where PAY_1 is not available
default_df = default_credit_df[default_credit_df.PAY_1!="Not available"]
default_df["PAY_1"] = pd.to_numeric(default_df.PAY_1, errors="coerce")
default_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26979 entries, 0 to 29999
Data columns (total 25 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   ID                          26979 non-null  object
 1   LIMIT_BAL                   26979 non-null  int64
 2   SEX                         26979 non-null  int64
 3   EDUCATION                   26979 non-null  int64
 4   MARRIAGE                    26979 non-null  int64
 5   AGE                         26979 non-null  int64
 6   PAY_1                       26979 non-null  int64
 7   PAY_2                       26979 non-null  int64
 8   PAY_3                       26979 non-null  int64
 9   PAY_4                       26979 non-null  int64
 10  PAY_5                       26979 non-null  int64
 11  PAY_6                       26979 non-null  int64
 12  BILL_AMT1                   26979 non-null  int64
 13  BILL_AMT2                   26979 non-null  int64
 14  BILL_AMT3                   26979 non-null  int64
 15  BILL_AMT4                   26979 non-null  int64
 16  BILL_AMT5                   26979 non-null  int64
 17  BILL_AMT6                   26979 non-null  int64
 18  PAY_AMT1                    26979 non-null  int64
 19  PAY_AMT2                    26979 non-null  int64
 20  PAY_AMT3                    26979 non-null  int64
 21  PAY_AMT4                    26979 non-null  int64
 22  PAY_AMT5                    26979 non-null  int64
 23  PAY_AMT6                    26979 non-null  int64
 24  default payment next month  26979 non-null  int64
dtypes: int64(24), object(1)
memory usage: 5.4+ MB

/var/folders/yd/5vdw7rg55v9996gg07c1smbr0000gp/T/ipykernel_2203/879138709.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  default_df["PAY_1"] = pd.to_numeric(default_df.PAY_1, errors="coerce")

In [43]:
# checking the unique values in ID columns
default_df.ID.nunique()

26704

In [50]:
# It seems that some IDs are duplicated so need to look further in this matter
print(default_df.ID.value_counts())
# filter out these id with duplicate values
id_counts = default_df.ID.value_counts()
duplicate_id_mask = id_counts != 1
duplicate_id_mask

d5aeb496-64e5    2
443324fb-5cfc    2
f20d8a3d-d047    2
693a0664-bde6    2
8567249b-827e    2
                ..
0671c9ee-650e    1
08c5ae4a-730a    1
1ef33467-7463    1
81301c65-31d4    1
15d69f9f-5ad3    1
Name: ID, Length: 26704, dtype: int64

d5aeb496-64e5     True
443324fb-5cfc     True
f20d8a3d-d047     True
693a0664-bde6     True
8567249b-827e     True
                 ...
0671c9ee-650e    False
08c5ae4a-730a    False
1ef33467-7463    False
81301c65-31d4    False
15d69f9f-5ad3    False
Name: ID, Length: 26704, dtype: bool

In [54]:
duplicate_ids = id_counts.index[duplicate_id_mask]
len(duplicate_ids)

275

In [59]:
# checking the rows with duplicate values
default_df.loc[default_df["ID"].isin(duplicate_ids), :]

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_1,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
141,26bde6da-f148,180000,1,2,2,28,-1,-1,-1,-1,-1,-1,1832,0,832,332,416,416,0,416,332,500,3500,832,0
196,42009c72-651f,150000,2,2,1,34,-2,-2,-2,-2,-2,-2,0,0,0,116,0,1500,0,0,116,0,1500,0,0
241,26bde6da-f148,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
296,42009c72-651f,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
323,73ed1381-3a3f,230000,2,2,1,28,0,0,0,-2,-1,-1,26361,18826,1100,2100,767,6173,1710,1100,1000,767,6173,1000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29685,ad23fe5c-7b09,50000,1,3,1,32,0,0,0,0,0,-1,47974,43680,22133,12882,8131,3983,3000,2871,1000,163,3983,3771,1
29746,90330d02-82d9,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
29785,ad23fe5c-7b09,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
29875,97d1d2eb-c72f,280000,1,1,1,31,0,0,0,0,0,0,235461,196894,168463,149816,128721,130406,8900,8100,7200,5000,5000,4700,0
29975,97d1d2eb-c72f,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [64]:
# It seems that same ID has one valid data and another with 0 values in all data
df_zero_mask = default_df ==0

In [65]:
df_zero_mask

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_1,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True,True,True,False,True,True,True,True,False
1,False,False,False,False,False,False,False,False,True,True,True,False,False,False,False,False,False,False,True,False,False,False,True,False,False
2,False,False,False,False,False,False,True,True,True,True,True,True,False,False,False,False,False,False,False,False,False,False,False,False,True
3,False,False,False,False,False,False,True,True,True,True,True,True,False,False,False,False,False,False,False,False,False,False,False,False,True
4,False,False,False,False,False,False,False,True,False,True,True,True,False,False,False,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,False,False,False,False,False,False,True,True,True,True,True,True,False,False,False,False,False,False,False,False,False,False,False,False,True
29996,False,False,False,False,False,False,False,False,False,False,True,True,False,False,False,False,False,True,False,False,False,False,True,True,True
29997,False,False,False,False,False,False,False,False,False,False,True,True,False,False,False,False,False,False,True,True,False,False,False,False,False
29998,False,False,False,False,False,False,False,False,True,True,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False
29999,False,False,False,False,False,False,True,True,True,True,True,True,False,False,False,False,False,False,False,False,False,False,False,False,False

In [68]:
# checking the all True in all rows and 1st columns onwards.
feature_zero_mask = df_zero_mask.iloc[:, 1:].all(axis=1)

In [71]:
sum(feature_zero_mask)
# it seems that additional rows have all data 0 so we will elimatinate these rows

315

In [74]:
default_clean_df = default_df.loc[~feature_zero_mask, :].copy()

In [73]:
default_clean_df.ID.value_counts()

798fc410-45c1    1
738bb7c3-b352    1
c5ea076b-ed0b    1
c0a3c963-65d3    1
6cd5ee93-11fd    1
                ..
9856d6be-a514    1
0df18d7f-71a1    1
73ebd789-6609    1
0de34a00-7e0a    1
15d69f9f-5ad3    1
Name: ID, Length: 26664, dtype: int64

In [75]:
default_clean_df.to_csv("clean_default_credit.csv", index=False)